@tailwind base;
@tailwind components;
@tailwind utilities;

.Container{
text-align: center;
justify-content: center;
display:flex;
list-style-type: none;
gap: 20px;
}
.Container li{
  border: 1px solid black;
  padding:8px;
  border-radius: 3px;
}

.Container li:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

h1{
  font-size: 24px;
 text-align: center;
justify-content: center;


}
.Lowerfooter{

  margin-top: 20px;
  bottom: 0;
  position:absolute;
  margin-bottom: -130px;

  background-color: aqua;
}
.ImageBox{

width: 100%;
height:500px;
display: flex;
margin-bottom: 20px;

}
.ImageBox .Photo{
  width: 35%;
   height: 500px;

}
.ImageBox .Line{
  justify-items: center;
  background-color: rgb(44, 91, 97);
  justify-content: center;
  width:85%;
  
}
.Photo img{
  width:390px; 
  height:500px;
 
}
body{
  background-color: antiquewhite;
}
h2{
  margin-top: 50px;
  color:white;
  margin-bottom: 20px;
  }

  .Line span{
    border-radius: 3px;
    color:black;
    padding:10px;
    background-color: white;
  }
  
  .Line span:hover{
  cursor: pointer;
    color:white;
    padding:10px;
    background-color:black;
  }
  .Bottom{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Bottom img{
    width:256px;
    height:256px;
    margin:5px;
  }